/* Manage font */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
$typoOptions: display-4 display-3 display-2 display-1 headline title subtitle-1
  subtitle-2 body-1 body-2 caption overline;
%font-choice {
  font-family: 'Montserrat' !important;
}
@mixin md-typography {
  @each $typoOption in $typoOptions {
    .#{$typoOption} {
      @extend %font-choice;
    }
  }
}

.v-btn__content {
  font-family: 'Montserrat' !important;
  text-transform: none !important;
}

.v-application {
  @extend %font-choice;
  @include md-typography;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ffb000;
}

/** Custom NULL item in selec input */
.theme--light .null-list-item {
  color: rgba(0, 0, 0, 0.6);
}
.theme--dark .null-list-item {
  color: rgba(255, 255, 255, 0.7);
}

/**  Custom CSS for external content*/
.external-content {
  border-style: solid;
  border-width: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 2s;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  * {
    border-radius: 5px !important;
  }
}
.external-content > div > div {
  background-color: transparent !important;
}
.external-content img {
  width: auto !important;
  max-width: 100% !important;
  height: auto !important;
}
.external-content .footer a {
  color: white !important;
  margin: 5px;
}
.external-content .smallbox {
  img {
    margin: 20px;
  }
  text-align: left !important;
}
.visible {
  opacity: 1;
}

/** Set cursor on table rows */
.v-data-table tbody tr :hover {
  cursor: pointer;
}

/** 3D viewer */
.viewer-3d {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
}
.viewer-3d > canvas {
  flex-grow: 1;
}
