/* Manage font */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
$typoOptions: display-4 display-3 display-2 display-1 headline title subtitle-1
  subtitle-2 body-1 body-2 caption overline;
%font-choice {
  font-family: 'Montserrat' !important;
}
@mixin md-typography {
  @each $typoOption in $typoOptions {
    .#{$typoOption} {
      @extend %font-choice;
    }
  }
}

/* Unreal Web Menu style compatibility */
.v-application--wrap,
.v-main,
.v-main__wrap,
.v-main__wrap>*
{
  min-width: auto;
  min-height: auto;
  width: 100%;
  height: 100%;
}

.v-main {
  padding: 40px;
}
.v-main__wrap {
  box-sizing: border-box;
}


/* Global styles */
.v-btn__content {
  font-family: 'Montserrat' !important;
  text-transform: none !important;
}

.v-application {
  @extend %font-choice;
  @include md-typography;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #ffb000;
}

/** Range input */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: rgba(127, 127, 127, 0.3);
  outline: none;
  border-radius: 8px;
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #ffb000;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input[type="range"]:disabled::-webkit-slider-thumb {
  background: rgba(127, 127, 127) !important;
}

/** Custom NULL item in selec input */
.theme--light .null-list-item {
  color: rgba(0, 0, 0, 0.6);
}
.theme--dark .null-list-item {
  color: rgba(255, 255, 255, 0.7);
}

/**  Custom CSS for external content*/
.external-content {
  border-style: solid;
  border-width: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 2s;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  * {
    border-radius: 5px !important;
  }
}
.external-content > div > div {
  background-color: transparent !important;
}
.external-content img {
  width: auto !important;
  max-width: 100% !important;
  height: auto !important;
}
.external-content .footer a {
  color: white !important;
  margin: 5px;
}
.external-content .smallbox {
  img {
    margin: 20px;
  }
  text-align: left !important;
}
.visible {
  opacity: 1;
}

/** Set cursor on table rows */
.v-data-table tbody tr :hover {
  cursor: pointer;
}

/** 3D viewer */
.viewer-3d {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
}
.viewer-3d > canvas {
  flex-grow: 1;
  width: 100% !important;
  height: 100% !important;
}

.currentScore {
  position: absolute;
  font-size: 20px;
  min-width: 20px;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  line-height: 20px;
  text-align: center;
  background-color: #252525;
  right: 0;
}

/* iframe */
iframe {
  display: block;
  border-style: solid;
  border-width: 0;
}

/* svg */
svg {
  display: block;
}

/* scroolbar */
.fullpage ::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}